[tool.ruff]
select = ["E", "F", "I", "UP"]
target-version = "py311"
line-length = 120
src = ["src"]

[tool.black]
target-version =  ["py311"]
line-length = 120
extend-exclude = '''
(
  ^/src/migrations\/
)
'''
force-exclude = '''
# Needed for pre-commit
(
  ^/src/migrations\/
)
'''

[tool.pytest.ini_options]
addopts = "-ra --cov=backend"
testpaths = [
  "src/backend/tests"
]
pythonpath = [
  "src"
]
env_files = ['.env']

[tool.coverage.run]
omit = ["backend/tests/*", "backend/settings/production.py"]

[tool.coverage.report]
show_missing = true
fail_under = 100
