Flask==3.0.3
Flask-Alembic==3.1.1
Flask-SQLAlchemy-Lite==0.1.0
Flask-WTF==1.2.1
psycopg2==2.9.10
python-dotenv==0.21.1 # Pinned lower due to docker-compose incompatibility
SQLAlchemy==2.0.36
SQLAlchemy-Utils==0.41.2
gunicorn==23.0.0
