Flask==3.1.2
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
psycopg2==2.9.10
python-dotenv==1.2.1 # Pinned lower due to docker-compose incompatibility
SQLAlchemy==2.0.44
gunicorn==23.0.0
