Flask==3.0.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
psycopg2==2.9.9
python-dotenv==0.21.1 # Pinned lower due to docker-compose incompatibility
SQLAlchemy==2.0.29
gunicorn==21.2.0
