{% extends "base.html" %}
{% block title %}New Survey{% endblock %}
{% block content %}
    <h1>Create New Survey</h1>
    <p class="text-warning">{{ message }}</p>
    <form method="POST" action="{{ url_for('surveys.surveys_create_handler') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3">
            <label for="survey_topic" class="form-label">Topic</label>
            <input type="text" class="form-control" id="survey_topic" name="survey_topic">
          </div>
        <div class="mb-3">
          <label for="survey_question" class="form-label">Question</label>
          <input type="text" class="form-control" id="survey_question" name="survey_question">
        </div>

        <div class="mb-3">
            <label for="survey_options" class="form-label">Options (new line separated)</label>
            <textarea class="form-control" id="survey_options" name="survey_options"></textarea>
        </div>

        <div class="mb-3">
          <label for="survey_multiple_allowed" class="form-label">Multiple answers allowed?</label>
          <input id="survey_multiple_allowed" name="survey_multiple_allowed" type="checkbox">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="cancel" class="btn btn-warning">Cancel</button>
    </form>
{% endblock %}
