{% extends "base.html" %}
{% block title %}Survey List{% endblock %}
{% block content %}
      <h1>Surveys</h1>

      {% if True %}
          <table class="table surveys-list-table">
              <thead>
                  <tr>
                      <th>Topic</th>
                      <th>Answer Count</th>
                  </tr>
              </thead>
              <tbody>
                  {% for survey in surveys %}
                      <tr>
                          <td>{{ survey.topic }}</td>
                          <td>{{ survey.answer_count }}</td>
                          <td class="text-end"><a href="{{ url_for('surveys.survey_page', survey_id=survey.id) }}" class="btn btn-sm btn-primary">Survey Page</a></td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No surveys found! 😭 Select <strong>Create new survey</strong> to make one.</p>
      {% endif %}

      <div class="d-flex justify-content-end">
              <a href="{{ url_for('surveys.surveys_create_page') }}" class="btn btn-success px-4 gap-3">Create new survey</a>
      </div>
{% endblock %}
